@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
	font-family: Roboto;
	font-weight:  300;
	color:  #C4E3FD;
}