@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
	font-family: Roboto;
	font-weight:  300;
	color: #004099;
}

.banner {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: solid 8px #004099;
	border-bottom: solid 8px #004099;
	width: 100%;
	text-align: center;
	font-size: 200%;
	margin: 20px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	background-color: #004099;
	color:  white;
}


/*--------------------------------------------------------Header-------------*/
#logo {
	background: url("../images/logo.png") no-repeat center center;
	height: 75px;
	width: 75px;
	float: left;
	background-size: cover;
}

#university-name {
	font-size: 1.2rem;
	margin-left: 2px;
	font-weight: 600;

}

#university-name a {
	text-decoration: none;
	color: #427a9d;
}

header h2 {
	position: absolute;
	top: 50px;
	left: 78px;
	color: #427a9d;
	font-size: 0.8rem;
}


#menu {
	list-style-type: none;
	/*margin-right: 30px;*/
}

#outer-menu-wrapper {
	width: 100%;
}

#inner-menu-wrapper {
	margin: 0 auto;
	width: 60%;
}

#menu li {
	float: right;
	padding: 5px;
}

#menu, #logo, #university-name {
	line-height:  75px;
}

/*--------------------------------------------------------Hero Image-------------*/
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-top: solid 8px #004099;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image-index.jpg") no-repeat center center;
    background-size: cover;
}

/*--------------------------------------------------------Services Section-------------*/

#mission {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	border-top: solid 8px #004099;
	border-bottom: solid 8px #004099;
	padding: 15px 0px;
	background-color: #004099;
	color:  white;
}
#our-services {
	text-align: center;
	font-size: 200%;
	margin: 20px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

#office-services {
	margin: auto;
}

#services-table {
	max-width: 320px;
	margin: auto;
	font-size:  150%;
}

#services-table td {
	text-align: center;
}

/*--------------------------------------------------------Staff Page-------------*/

#main-section {
	background: url("../images/staff-background.png") repeat center center;
	background-attachment: fixed;
	clear: both;
	width:  100%;
}

#grid-container {
	margin:  auto;
	padding-top: 4rem;
	padding-bottom:  4rem;
	width: 100%;
	display:  grid;
	grid-template-columns: auto;
	grid-template-rows:  auto;
	grid-column-gap: .4rem;
	grid-row-gap: 6rem;
	clear: both;
	
}

.container-item {
	border: 12px solid whitesmoke;
	margin: auto;
	height: auto;
}

.container-item img {

	max-height: 250px;
	max-width: 250px;
	object-fit: cover;
	overflow-x: hidden;
}

.information {
	text-align:  center;
	background-color: white;
	color: black;
	height: auto;
}

.name {
	font-weight: bold;
}

.email-address {
	font-style: italic;
}

/*--------------------------------------------------------Contact Us-------------*/
#contact-us {
	clear: both;
}

#forms-div {
	width: 90%;
	margin: auto;
}

#map-div {
	width: 90%;
	margin: auto;
}

#contact-us h3 {
	font-size: 100%;
	padding-bottom: 10px;
}

#contact-us h3, #contact-us form {
	margin-left: 15px;
	width: 90%;
}

#contact-us form {
	border: 4px solid #427a9d;
	padding:  10px 10px;
	margin-bottom: 25px;
}

form label {
	font-weight: bold;
}

form input {
	height: 2rem;
	padding-left: 5px;
}

form input, textarea {
	border: 2px solid #427a9d;;
	margin-bottom: 20px;
	width: 60%;

}

textarea {
	height: 20rem;
	width: 99%;
}

#map {
	width: 85%;
	margin: auto;
}

#map h3 {
	font-size: 100%;
	padding-bottom: 10px;
}
/*--------------------------------------------------------Footer-------------*/
footer {
	clear: both;
	background-color: #004099;
	color:  white;
	height: 75px;
	margin: auto;
}

#footer-container {
  display: grid; 
  grid-template-columns: 0.5fr 0.3fr 0.5fr; 
  grid-template-rows: 75px; 
  gap: 0px 0px; 
  /*grid-template-areas: "footer-address footer-social ."; */
}

/*.address { grid-area: address; }
.social { grid-area: social; }*/

.footer-address {
	font-size: 0.70rem;
	padding-top:  20px;
	margin-left: 15px;
	text-align: left;
}

.footer-social {
	text-align: center;
	padding-top: 25px;
	margin: auto;
}
.footer-social ul {
	list-style-type: none;
}

.footer-social li {
	float:  left;
	padding:  3px;
	text-align: center;
}

.footer-social a {
	color:  white;
	font-size: 1rem;
}
/*--------------------------------------------------------Media Queries-------------*/
/*------------------------------Min-Width:  320px----------*/
@media (min-width: 325px) {
	/*Header*/
	#university-name {
		font-size: 1.5rem;
	}

	/*Staff*/
	.container-item img {
		max-height: 295px;
		max-width: 295px;
	}

}
/*------------------------------Min-Width:  380px----------*/
@media (min-width: 380px) {

	#inner-menu-wrapper {
		width: 90%;
	}

	#menu li {
		padding: 8px;
	}

	/*Staff*/
	.container-item img {
		max-height: 320px;
		max-width: 320px;
	}

	/*Footer*/
	.footer-social {
		text-align: right;
	}

	.footer-social li {
		padding:  5px;
		text-align: right;
	}

	.footer-social a {
		font-size: 1.2rem;
	}
}

/*------------------------------Min-Width:  510px----------*/
@media (min-width: 510px) {
	/*Header*/
	#university-name {
		font-size: 2.5rem;
	}

	header h2 {
		font-size: 1rem;
	}

	/*Services*/
	#services-table {
		border-spacing:75px 35px;
	}

	#services-table td {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	/*Footer*/
    .footer-address {
		font-size: 0.85rem;
		padding-top:  20px;
		margin-left: 15px;
		text-align: left;
	}

	.footer-social li {
		padding:  10px;
		text-align: center;
	}

	.footer-social a {
		font-size: 1.2rem;
	}

/*------------------------------Min-Width:  600px----------*/

}
/*------------------------------Min-Width:  710px----------*/
@media (min-width: 710px) {

*/
/*----------------------Services*/
	#services-table {
		border-spacing:100px 35px;
	}

/*----------------------Staff*/
    #grid-container {
        grid-template-columns: 50% 50%;
    }

/*---------------------*Contact Us*/
 #forms-div {
	float: left;
	width: 50%;
}

#map-div {
	float: right;
	width: 50%;
}

/*----------------------Footer*/
    .footer-address {
		font-size: 0.85rem;
		padding-top:  20px;
		margin-left: 15px;
		text-align: left;
	}

/*------------------------------Min-Width:  900px----------*/
@media (min-width: 900px) {
	
	/*Header*/
	#university-name {
		font-size: 2.5rem;
		float: left;
	}

	header h2 {
		left: 80px;
	}

	#outer-menu-wrapper {
		float: right;
		width: 40%;
	}

	#inner-menu-wrapper {
		width: 100%;
	}

	/*Services*/
	#services-table {
		border-spacing: 175px 35px;
		max-width: 80%;
	}
	
	/*Staff*/
    #grid-container {
    	grid-template-columns: 50% 50%;
        grid-column-gap: 0px;
        grid-row-gap: 10rem;
    }

    



